#dash-main-layout {
  /* border:solid 1px red; */
  flex: 7;
  height: auto;
  overflow: hidden;
}
#dashboard-navigator {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1vw;
  margin-top: 3vh;
  border-bottom: 0.7px solid rgb(212, 201, 201);
}

#dashboard-navigator > span {
  /* border: 1px solid red; */
  padding: 2vh;
  font-weight: 600;
  color: rgb(56, 54, 54);
  font-size: 1.2vw;
  padding-bottom: 2rem;
  border-bottom: 3px solid transparent; /* Initial transparent border */
  transition: border-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#dashboard-navigator > span:hover {
  color: rgb(66, 58, 233);
}

@media only screen and (max-width: 768px) {
  #dashboard-navigator > span {
    font-size: 3vw;
  }
}
