#currency-page-layout {
  overflow: hidden;
}
#crypto-main-content {
  display: flex;
  margin-left: 3rem;
}
#crypto-title-name {
  /* border:  solid 1px red; */
  padding: 1.2rem;
  margin-left: 1.8rem;
}
#footer-crousels {
  /* border: solid 1px red; */
  margin-top: 4rem;
  padding-top: 3.5rem;
  background-color: #fefeff;
  padding-bottom: 3rem;
  border-radius: 10px;
}


#bottom-phone-sidebar{
  display: none;

}
@media only screen and (max-width: 768px) {
  #crypto-main-content {
    margin: 0;
    padding: 0.7rem;
  }
  #crypto-title-name {
    padding-top: 0.5rem;
    padding-bottom: 0;
    
  }
  #footer-crousels{
  margin: 0rem 0.3rem;

      
  }
   
  .sideBar-show-pc{
    display: none;
  
  }
 
  #bottom-phone-sidebar{
    display: block;
    padding: 0.5rem;
  }
}
